{% extends 'score/input_base.html' %}

	{% block tab_input %}
	<a href="" class="nav-link active" data-toggle="tab">input</a>
	{% endblock %}

	{% block main %}

  <!-- 表 -->            
	<form action="" method="post" >
		{% csrf_token %}

	  <table class="table table-bordered">
	  <tbody>
	  
	  <!-- 1行目 -->
	  <tr>
		  <th class="col-2">name</th>
		  <th class="col-1">ID</th>
		  <th class="col-1" style="background-color:#fff;" onclick="click_matrix(this)">serve</th>
		  {% for loop_id in ""|rjust:"7" %}
		  <th class="col-1">{{forloop.counter}}</th>
			{% endfor %}
		  <th class="col-1">score</th>
		</tr>

	  <!-- 2行目 -->
		<tr>
			<td onclick="Click_Name(this, 'name1')" name="name1"></td>
			<td onclick="Click_ID(this)"></td>
			<td onclick="chg_serve_turn(ROW_MEM_1st)">1</td>
		  {% for loop_id in ""|rjust:"7" %}
		  <td onclick="Click_ServeResult(this)">
			{% endfor %}
			<td rowspan="3"></td>
<!--
		  <td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td rowspan="3"></td>
-->
		</tr>

<!--
		<tr>
		  <td colspan="1" onclick="Click_Name(this)"></td><td colspan="1" onclick="Click_ID(this)"></td><td onclick="chg_serve_turn(ROW_MEM_1st)">1</td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td rowspan="3"></td>
		</tr>
-->
	  <!-- 3行目 -->
		<tr>
			<td onclick="Click_Name(this, 'name2')" name="name2"></td>
			<td onclick="Click_ID(this)"></td>
			<td onclick="chg_serve_turn(ROW_MEM_1st)">1</td>
		  {% for loop_id in ""|rjust:"7" %}
		  <td onclick="Click_ServeResult(this)">
			{% endfor %}
		</tr>
<!--
		  <tr>
		  <td colspan="1" onclick="Click_Name(this)"></td><td colspan="1" onclick="Click_ID(this)"></td><td onclick="chg_serve_turn(ROW_MEM_2nd)">3</td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td>
		  </tr>
-->
		  <tr>
		  <td colspan="2">ゲーム {{cnt}}</td>
		    {% for gamecnt in form20 %}
		      <td onclick="Click_ServeResult(this)">
		      {{gamecnt.0}}
		      </td>
		    {% endfor %}
		  </tr>
		  <tr>
		  <td colspan="6">ゲーム {{cnt}}</td>
		    {% for gamecnt in form20 %}
		      <td onclick="Click_ServeResult(this)">
		      {{gamecnt.1}}
		      </td>
		    {% endfor %}
		  </tr>
		  <tr>
		  <td colspan="3" onclick="Click_Name(this)"></td><td colspan="2" onclick="Click_ID(this)"></td><td onclick="chg_serve_turn(ROW_MEM_3rd)">2</td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td>
		  </tr>
		  <tr>
		  <td colspan="3" onclick="Click_Name(this)"></td><td colspan="2" onclick="Click_ID(this)"></td><td onclick="chg_serve_turn(ROW_MEM_4th)">4</td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td><td onclick="Click_ServeResult(this)"></td>
	  </tr>
	  </tbody>
	  </table>
	</form>

	{% endblock %}

  {% block extrajs %}
<script>
/***********************************************************
 ===========================================================
 * @brief   デバッグ用
 * @param    
 * @return    
 * @note    構造体等を表示
 ===========================================================
 **********************************************************/
function dbg(obj, str) {
    var properties = '';
    
    if(str != undefined)
    {
        properties = str + "\n";
    }
    
    if(typeof(obj) == "object" ){
	    for (var prop in obj){
	        properties += prop + "=" + obj[prop] + "\n";
	    }
    }
    else
    {
	    properties += obj;
    }
    
    alert(properties);
}


function Click_Name(Obj, arg_name){
	var row = Obj.parentNode.rowIndex;
	var col = Obj.cellIndex;
	var strName = Obj.textContent;
	var send_form = document.getElementsByName(arg_name);

dbg(arg_name, "arg_name:");
//dbg(Obj.parentNode.rowIndex, "Obj.parentNode.rowIndex:");
//dbg(Obj.cellIndex, "Obj.cellIndex:");
dbg(row, "row:");
dbg(col, "col:");
dbg(Obj, "Obj:");

dbg(send_form[0], "send_form:");

dbg(send_form[0].parentNode.rowIndex, "parentNode.rowIndex");
dbg(send_form[0].cellIndex, "cellIndex");

	strName = prompt("番目の名前入力", strName);

	Obj.textContent = strName;

}



</script>
  {% endblock %}


