{% extends 'score/view_base.html' %}

	{% block tab_ranking %}
	<a href="" class="nav-link active" data-toggle="tab">ranking</a>
	{% endblock %}

	{% block main %}
    <table>
        <tr>
            <th>NAME</th>
            <th>playerID</th>
            <th>gameNum</th>
            <th>gross</th>
            <th>winNum</th>
        </tr>

    {% for rankDt in rankTbl %}
        <tr>
            <td>{{rankDt.name}}			</td>
            <td>{{rankDt.playerID}}	</td>
            <td>{{rankDt.gameNum}}	</td>
            <td>{{rankDt.gross}}		</td>
            <td>{{rankDt.winNum}}		</td>
        </tr>
    {% endfor %}

    </table>
	{% endblock %}
